repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        args: [--fix, .]
        pass_filenames: false
        always_run: true
      - id: ruff-format
        args: [.]
        pass_filenames: false
        always_run: true
